<div class="box text-center">
    <div class="container">
        <h2 class="heading">
            O que você deseja consultar?
        </h2>
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-2 item-menu" (click)="irPara('/consultar/onibus')">
                <figure class="text-center">
                    <img src="../../../../assets/img/onibus.jpg" alt="img1" width="400">
                    <figcaption>
                        <h5>Ônibus</h5>
                    </figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 item-menu" (click)="irPara('/consultar/lotacao')">
                <figure class="text-center">
                    <img src="../../../../assets/img/lotacao-resize.jpg" alt="img1" width="400">
                    <figcaption>
                        <h5>Lotação</h5>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
